/*------------------
    TYPO
-------------------*/

/*------------------
    COMMON
-------------------*/

.py_banner{
    padding-top: 400px;
    padding-bottom: 100px;
}


/*------------------
    BUTTON
-------------------*/
.btn_custom {
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
}

.btn_bckground_grey {
  background-color: #363636;
}

.btn_bckground_red {
  background-color: #cd3d0f;
}

.btn_bckground_blue {
  background-color: #2d64e6;
}

.btn_bckground_grey,
.btn_bckground_red,
.btn_bckground_blue {
  color: white;
}

.btn_bckground_light_grey {
  background-color: #d9dadc;
  color: #2e65e6;
}

.btn_bckground_white {
  background-color: white;
  color: black;
}

/*------------------
    HEADER
-------------------*/
header {
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-top {
  display: flex;
  justify-content: flex-end;
}
.header-top img {
  width: 80px;
  padding: 10px 10px;
}

.dropdown-toggle::after {
  color: lightgray;
}

/*------------------
    MAIN
-------------------*/

/* sezione hero  */
.hero{
    padding-top: 96px;
    color: white;
}
.box-hero,.banner_takes_two {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.bkg_hero_img{
    background-image: url(../img/jumbo-bg.png);
}

.bkg_takes_two_img{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


.returnal,.takes_two{
    width: 200px;
}

.game{
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 10px 0px;
}

/* sezione play 5 */

.play_5,.play_4,.ps_plus_april{
    width: 100%;
}
.play_5_thumb{
    width: 100% ;
    opacity: 50%;
}

.play_5_thumb:hover{
    opacity: 1;
    border-bottom: 1px solid #4095da ;
}
/* sezione takes two  */
section.banner_takes_two{
    color: white;
}

/* sezione ps plus  */
.ps_plus,.ps_now{
    min-height: 260px;
}
.bk_ps_plus {
    background-color: #bebcbb;
}

.ps_plus_logo {
    width: 60%;
    padding: 30px 0px;
}

/* sezione ps now  */
.ps_now{
    color: white;
}
.bk_ps_now {
    background-color: #161c3b;
}



/*------------------
    FOOTER
-------------------*/


