/*------------------
    TYPO
-------------------*/

/*------------------
    COMMON
-------------------*/

.py_banner{
    padding-top: 400px;
    padding-bottom: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------
    BUTTON
-------------------*/
.btn_custom {
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
}

.box_button{
    padding: 1px;
    border-radius: 20px;
    display: inline-block;

}

.border_gray:hover{
    border: 2px solid #363636;
    margin: -2px;
}

.border_red:hover{
    border: 2px solid #cd3d0f;
    margin: -2px;
}

.border_blue:hover{
    border: 2px solid #2d64e6;
    margin: -2px;
}

.border_light_gray:hover{
    border: 2px solid #c4c6c7;
    margin:-2px;
}

.border_white:hover{
    border: 2px solid white;
    margin: -2px;
}

.btn_bckground_grey {
  background-color: #363636;
}

.btn_bckground_grey:hover {
    background-color: #5f5e5e;
  }



.btn_bckground_red {
  background-color: #cd3d0f;
}

.btn_bckground_blue {
  background-color: #2d64e6;
}

.btn_bckground_grey,
.btn_bckground_red,
.btn_bckground_blue {
  color: white;
}

.btn_bckground_light_grey {
  background-color: #d9dadc;
  color: #2e65e6;
}

.btn_bckground_white {
  background-color: white;
  color: black;
}

/*------------------
    HEADER
-------------------*/
header {
  position: fixed;
  width: 100%;
  z-index: 20;
}

.chevron{
    width: 10px;
}

.header-top {
  display: flex;
  justify-content: flex-end;
}

.header-bottom a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top img {
  width: 80px;
  padding: 10px 10px;
}

.lens{
    width: 28px;
}

.nav_link{
    color: black;
    text-decoration: none;
}

/*------------------
    MAIN
-------------------*/

/* sezione hero  */
.hero{
    padding-top: 96px;
    color: white;
}
.box-hero,.banner_takes_two {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.bkg_hero_img{
    background-image: url(../img/jumbo-bg.png);
}

.returnal,.takes_two{
    width: 200px;
}

.game{
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: 1s;

}
.game_active{
    border: 1px solid #0072ce;
    padding: 2px;
}

.game_select:hover{
    border: 1px solid #0072ce;
    padding: 2px;
    position: relative;
    margin-top: -15px;
    top: 0px;
    box-shadow: 5px 5px 15px grey;
}
/* sezione play 5 */
.play_5_active{
    min-height: 200px;
    border-bottom: 1px solid #4095da ;
}
.play_5_thumb_box{
    opacity: 50%;
    min-height: 200px;
}

.play_5,.play_4,.ps_plus_april{
    width: 100%;
}

.play_5_thumb{
    width: 50% ;
}

.play_5_thumb_box:hover{
    opacity: 1;
    border-bottom: 1px solid #4095da ;
    margin-bottom: -1px;
}


/* sezione takes two  */
section.banner_takes_two{
    color: white;
}
.bkg_takes_two_img{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* sezione ps plus  */

.bk_ps_plus {
    background-color: #bebcbb;
}

.ps_plus_logo {
    width: 60%;
    padding: 30px 0px;
}

/* sezione ps now  */
.ps_now{
    color: white;
}
.bk_ps_now {
    background-color: #161c3b;
}

/* sezione social  */
.social_logo {
    width: 100%;
    padding-top: 40px;
    transition: 0.5s;
}

.social_logo:hover{
    transform: rotate(360deg);
}

/*------------------
    FOOTER
-------------------*/
footer {
    background-color: #00439c;
    color: white;
}

.play_logo {
    width: 100px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: lightgray;
}
.globe {
    width: 24px;
}
.sie_logo {
    display: block;
    width: 150px;
}
